.rose {
  width: 600px;
  background-color: MistyRose;
}
.mint {
  position: absolute;
  top: 60px;
  right: 0;
  width: 700px;
  background-color: MintCream;
}
.midnight {
    position:relative;
    top: 0; 
    right:0; 
  color: white;
  background-color: MidnightBlue;
} 

.border_rounded {
  border-style: none;
  border-radius: 8px;
  margin: 16px;
  padding: 30px;
}
.font_cursive {  
  font-family: 'Square Peg', cursive;
  font-size: 30px;
  margin-top: 0 ;
}

.pic_width {
  width: 250px;
}


