*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: rgb(246, 135, 172);
}
.container {
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: -50%;
    top: 50%;
    left: 50%;
    background: linear-gradient(to right, #27cb0a, #dfdf1a);
    padding: 200px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
}
h3 {
    font-size: 16px;
    font-weight: 600;
}
input[type="text"] {
    width: 90px;
    font-weight: 600;
    color: #cb0411;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-size: 28px;
}
button {
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #663399;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: none;
}
p {
    font-weight: 400;
}
